@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
$small-break: 767px;
//$display-mobile: "only screen and (max-width: $small-break)";

@mixin mobile {
  @media (max-width: #{$small-break}) {
    @content;
  }
}

body,
h1,
h2,
h3,
p
{
	 font-family: 'Anonymous Pro', monospace;
}
body{
  padding-top: 3%;
}
#header-title{
  line-height: .4;
}
.double{
	border-top: 3px double #000;
}

.table {
  th {
    font-weight: bold;
  }
  td {
    text-align: left;
  }
}
.table > {
  tbody > tr > {
    td, th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }
  }
  tfoot > tr > {
    td, th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }
  }
  thead > tr > {
    td, th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }
  }
}



.show{
  width: 100%;
  height: 100%;
  float: left;
  border: 1px solid rgba(0,0,0,0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff;
  display: block;
  border-radius: 4px;
}


.aspect{
  position: relative;
  padding-bottom: 120%;
  height: 0;
  overflow: hidden;
}

.show .mask{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.show-first a.more {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #FFF;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;

}

.show-first a.more:hover {
  box-shadow: 0 0 5px #000;
}

.show-first p{
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 28px;
}

.show-first img {
  transition: all 0.2s linear;
}

.show-first .mask {
  opacity: 0;
  background-color: rgba(0,0,0, 0.4);
  transition: all 0.4s ease-in-out;
}
.show-first h2 {
  color: #f2f2f2;
  margin-top: 10%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0,0,0,0.7);
}
.show-first p {
  opacity: 0;
  transition: all 0.2s linear;
}
.show-first a.info{
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.show-first:hover img {
  transform: scale(1.2);
}
.show-first:hover .mask {
  opacity: 1;
}
.show-first:hover h2,
.show-first:hover p,
.show-first:hover a.info {
  opacity: 1;
}
.show-first:hover p {
  transition-delay: 0.1s;
}
.show-first:hover a.info {
  transition-delay: 0.2s;
}
.thumb-preview{
	height:300;
	width:400;
}



#mobile-test{
	display:none;
}

@include mobile{
	#header-title{
		line-height: 1;
	}
	#mobile-navbar{
		text-align: center;
		margin-left: -55px ;
	}
	#mobile-test{
		display: inline;
	}
	#main-test{
		display: none;
	}
};

.navbar-collapse.collapse {
  display: block!important;
}
// #mobile-test{
// 	@extend .navbar-collapse.collapse;
// 	display: inline;
// }

// .navbar-nav>li, .navbar-nav {
//   float: left !important;
// }
//
// .navbar-nav.navbar-right:last-child {
//   margin-right: -15px !important;
// }
//
// .navbar-right {
//   float: right!important;
// }


*:before, *:after { content: ''; }
hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}

.bookends {
  position: relative;
  border-width: 5px;
  border-color: hsl(0, 0%, 50%) transparent;
  height: 11px;
  border-style: double;
  width: 20%;
}
.bookends:before,
.bookends:after {
  position: absolute;
  bottom: -3.536px;
  width: 7.071px;
  height: 7.071px;
  display: block;
  border-width: 0 7.071px 7.071px 0;
  border-color: hsl(0, 0%, 50%);
  border-style: double;
  box-sizing: border-box;
}
.bookends:before {
  transform: translateZ(0) rotate(-45deg);
  left: -21px;
}
.bookends:after {
  transform: translateZ(0) rotate(135deg);
  right: -21px;
}

.main-info{
  padding-top: 12%;
}

#background-info p{
  text-align: left;
  text-indent: 50px;
}

#panel-info p{
  text-align: justify;
}
