<div class="text-center">
	<hr class="double">
	<h3>Developer | Analyst | Recent Graduate</h3>

	<h4></h4>
	<div class="row main-info" id="background-info">
		<div class="col-sm-5 col-md-4 col-lg-4">
			<img src="assets/images/new.jpg" alt="" class="img-responsive img-circle">
		</div>
		<div class="col-sm-7 col-md-8 col-lg-8">
			<h2 id="about"><u>Professional Background</u></h2>
			<p>I am a recent graduate from Kennesaw State University receiving a Bachelors of Business Administration in Information Systems. I am seeking an entry-level position that aligns with my career objectives to contribute to and develop from an IT business development environment. I hope to utilize my managerial and technical skill set acquired from my work experiences and formal education while adding value to my workspace environment.</p>
			<p>I have acted as a highly efficient, confident manager and team leader in various semester-long projects undertaken during my education. I am consistently seeking to improve systems processes as needed, able to coordinate between various teams of differing personality types and help facilitate an environment contusive to industry standards for project management.</p>
			<p>I can exercise a highly adaptive skill set to perform required tasks ranging from technical needs (such as testing or coding) to communication requirements (ranging from guiding meetings, conflict resolution or public speaking). Throughout my education and career, I have specialized in frontend design and development; regarding designing, planning the systems architecture and conducting in hands-on programming.</p><br>
		</div>

	</div>
	<div class="row main-info" id="panel-info">
		<div class="col-sm-4">
			{{fa-icon "linkedin" size=4}}
			<h3><u>LinkedIn</u></h3>
			<br>
			<p>To see more on my professional and educational background, please visit my linked in located here: <a href="https://www.linkedin.com/in/afroukhteh">Click Here</a>.</p>
		</div>
		<div class="col-sm-4">
			{{fa-icon "github" size=4}}
			<h3><u>GitHub</u></h3>
			<br>
			<p>Check out coding, both old and new at my github located in this link: <a href="https://github.com/unkaveh">Click Here</a>.</p>
		</div>
		<div class="col-sm-4">
			{{fa-icon "envelope" size=4}}
			<h3><u>Contact Directly</u></h3>
			<br>
			<p>For any more questions or inquiries, please email me directly at my <a href="mailto:afroukhtehk@gmail.com?Subject=Hello%20Kaveh">email</a>.</p>
		</div>
	</div>

</div>
