<div class="text-center">
					<h3>Developer | Analyst | Graduate </h3>
					<!-- <h5><a href="#about">About</a> | <a href="#portfolio">Portfolio</a> | <a href="#resume">Resume</a></h5><br /> -->
					<hr class="double">
					<h4><p class="text-center"><a href="facebook.com/unkaveh">{{fa-icon "facebook-square"}}</a>  | <a href="linkedin.com/in/afroukhteh">{{fa-icon "linkedin-square"}}</a> | <a href="mailto:afroukhtehk@gmail.com"><i class="fa fa-envelope " aria-hidden="true"></i></a></p></h4><br />
					<h2 id="about"><u>About</u></h2>
					<p>I am a passionate individual on all things tech oriented whether it's web, software, UX or IT business development - I cannot help but live and learn all aspects. I am currently on the tail of completing my Bachelors in Information Systems with a minor in Computer Science at Kennesaw State University. My knowledge of Information Technology and the business behind Information Technology comes both from my studies as well as self-taught skills from the vast assortment of self-taught programs available online.</p>
					<p>
					While I may come from a non-traditional background in terms of work experience, my education has provided me the tools to plan, analyze, design, create, implement, improve, secure and maintain various different information systems.
					</p>
					<br />
</div>
