<nav class="navbar navbar">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 id="header-title">Kaveh Afroukhteh</h1>
    </div>

    <div class="collapse navbar-collapse " id="main-navbar">
      <ul class="nav navbar-nav navbar-right" id="main-test">
            {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
            {{#link-to 'resume' tagName="li"}} <a href="">Resume</a>{{/link-to}}
            {{#link-to 'portfolio' tagName="li"}} <a href="">Portfolio</a>{{/link-to}}
      </ul>
    </div><!-- /.navbar-collapse -->
    <div class="collapse navbar-collapse" id="mobile-navbar" >
      <ul class="navbar-nav navbar-center" id="mobile-test">
        <div class="btn-group" role="group">
            {{#link-to 'index' tagName="button" class="btn btn-default" type="button"}}<a href="">Home</a>{{/link-to}}
            {{#link-to 'resume' tagName="button" class="btn btn-default" type="button"}} <a href="">Resume</a>{{/link-to}}
            {{#link-to 'portfolio' tagName="button" class="btn btn-default" type="button"}} <a href="">Portfolio</a>{{/link-to}}
            </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
