
<h2 class="text-center">Projects</h2>
<hr class="bookends">


  {{outlet}}

    {{#each model as |portfolio|}}
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      {{portfolio-listing portfolio=portfolio}}
      </div>
      <br>
    </div>
    {{/each}}
