<style media="screen">

</style>
<div style="overflow-x:auto;">
<h2 id="resume"><u>Resume</u></h2><br>
<h3>Skills &amp; Abilities</h3>
<table class="table">
  <thead>
    <th><h4><b>Management</b></h4></th>
  </thead>
  <tbody>
    <tr>
      <td>Educational foundation built on PMBOK methodology in relation to project management and Agile Software
Development in relation to the systems development life cycle. Familiarity with Scrum and Lean frameworks as related
to semester long projects.</td>
    </tr>
    <tr>
      <td>Specific skills as related include drafting of: project charters, measurable organization values, systems proposals,
requirements determination and analysis, test plans, conversion strategies. Utilizing Microsoft Project to create: Gantt
charts, Work Breakdown Structures, Variation and Earned Value Reports. Employing Microsoft Visio to create UML
diagrams for: Use Case Diagrams, Class Diagrams, Communication Diagrams, and Behavioral State Machines.</td>
    </tr>
  </tbody>
</table>
<table class="table">
  <thead>
    <th><h4><b>Skills</b></h4></th>
  </thead>
  <tbody>
    <tr>
      <td>Proficiency in the following languages: Java, HTML, CSS, JavaScript, VB.NET, SQL, PHP. Expertise and familiarity in
frameworks is as follows (ranked in descending order): Bootstrap 3, EmberJS, jQuery, VelocityJS, NPM, Git, SASS. </td>
    </tr>
    <tr>
      <td>Skilled in in working in Windows and Linux development environments ranging from utilizing the command line to
deploying servers for testing or final builds. Software proficiency as follows: Sublime 3, Visual Studio, Microsoft Suite
(Office, Excel, PowerPoint, Visio, Project), Adobe Photoshop, Microsoft SQL Server, BlueJ, IntelliJ IDEA.</td>
    </tr>
  </tbody>
</table>

  						  {{#liquid-bind id="myResume"}}<table class="table" id="myResume">
  							<thead><th colspan="3"><h4><b>Programming Languages</b></h4></th></thead>
                <tbody>
  							<tr>
						        <td>JavaScript</td>
						        <td>.NET Framework</td>
						        <td>Java</td>
					        </tr>
  							<th colspan="3"><h4><b>Web Development</b></h4></th>
  							<tr>
						        <td>PHP</td>
						        <td>ASP.NET</td>
						        <td>HTML5</td>
						    </tr>
						    <tr>
						        <td>CSS3</td>
						        <td>Bootstrap 3</td>
						        <td>Javascript</td>
						    </tr>
						    <tr>
						        <td>jQuery</td>
						        <td>AJAX</td>
						        <td>Velocity.js</td>
						    </tr>
							<th colspan="3"><h4><b>Database</b></h4></th>
							<tr>
								<td>Microsoft SQL Server</td>
								<td>mySQL</td>
								<td>Oracle SQL Developer</td>
							</tr>
              </tbody>
  						</table>
              {{/liquid-bind}}
  						<table class="table">
  							<thead>
  							  <th colspan="3"><h4><b>Code Editors &amp; IDEs</b></h4></th>
  							</thead>
                <tbody>
  							<tr>
						        <td>Sublime Text 3</td>
						        <td>Microsoft Visual Studio</td>
						        <td>Atom</td>
					    	</tr>
					    	<tr>
						    	<td>Brackets</td>
						        <td>BlueJ</td>
						        <td>IntelliJ IDEA</td>
					    	</tr>
					    	<th colspan="3"><h4><b>Related Coursework</b></h4></th>
					    	<tr>
								<td>Fundamentals of Programming I &amp; II</td>
								<td>Database Systems</td>
								<td>Web Development I &amp; II</td>
							</tr>
							<tr>
								<td>Application Development</td>
								<td>Information Systems Management</td>
								<td>Human Computer Interface</td>
							</tr>
							<tr>
								<td>IT Infrastructure</td>
								<td>Global IS Strategy</td>
								<td>Systems Analysis and Design</td>
							</tr>
							<tr>
								<td>Principles of Information Security</td>
								<td>Global IS Project Management</td>
								<td>&nbsp;</td>
							</tr>
            </tbody>
  						</table>


	  					<table class="table">
                <tbody>
	  						<th colspan="2">
	  							<thead><h4><b>Education</b></h4></thead>
	  						</th>
	  						<tr>
	  							<td>
										<b>Kennesaw State University</b><br />
										May 2017
									</td>
									<td>
										BBA in Information Systems<br />

									</td>
	  						</tr>
              </tbody>
	  					</table>

	  					<table class="table">
	  						<th colspan="2"><h4><b>Expirence</b></h4></th>
                <tbody>

	  						<tr>
								<td>
									<b>November 2013 – Current</b>
								</td>
								<td>
									<b>Custom Framer/Artist Assistant</b>, <b>J&amp;M Frames</b>, <i>Chamblee, GA</i> <br />
									Created wholesale quantities of customized art frames and custom sized canvases.
								</td>
							</tr>
							<tr>
								<td>
									<b>May 2015 – October 2015</b>
								</td>
								<td>
									<b>Assistant General Manager</b>, <b>Figo Pasta</b>, <i>Decatur, GA</i> <br />
									Assist in the hiring, training and general management of an Italian restaurant.
								</td>
							</tr>
							<tr>
								<td>
									<b>May 2014 – December 2014</b>
								</td>
								<td>
									<b>Assistant General Manager</b>, <b>La Pietra Cucina</b>, <i>Atlanta, GA</i> <br />
									Created wholesale quantities of customized art frames and custom sized canvases.
								</td>
							</tr>
							<tr>
								<td>
									<b>August 2010 – March 2012</b>
								</td>
								<td>
									<b>English Teacher</b>, <b>Siyoun Kindergarten/Private Lessons</b>, <i>Greater Seoul Area, South Korea</i> <br />
									Taught over 400 different students at four Kindergartens in the course of a week for the course of a year. Conducted private lessons over the Greater Seoul area for the course of a year.
								</td>
							</tr>
            </tbody>

	  					</table>
 </div>
