<style media="screen">

</style>
<div class="table-responsive">
<h2 id="resume"><u>Resume</u></h2>


  						  {{#liquid-bind id="myResume"}}<table class="table" id="myResume">
  							<thead><th colspan="3"><h4><b>Programming Languages</b></h4></th></thead>
                <tbody>
  							<tr>
						        <td>JavaScript</td>
						        <td>.NET Framework</td>
						        <td>Java</td>
					        </tr>
  							<th colspan="3"><h4><b>Web Development</b></h4></th>
  							<tr>
						        <td>PHP</td>
						        <td>ASP.NET</td>
						        <td>HTML5</td>
						    </tr>
						    <tr>
						        <td>CSS3</td>
						        <td>Bootstrap 3</td>
						        <td>Javascript</td>
						    </tr>
						    <tr>
						        <td>jQuery</td>
						        <td>AJAX</td>
						        <td>Velocity.js</td>
						    </tr>
							<th colspan="3"><h4><b>Database</b></h4></th>
							<tr>
								<td>Microsoft SQL Server</td>
								<td>mySQL</td>
								<td>Oracle SQL Developer</td>
							</tr>
              </tbody>
  						</table>
              {{/liquid-bind}}
  						<table class="table">
  							<th colspan="3"><h4><b>Code Editors &amp; IDEs</b></h4></th>
                <tbody>
  							<tr>
						        <td>Sublime Text 3</td>
						        <td>Microsoft Visual Studio</td>
						        <td>IntelliJ IDEA</td>
					    	</tr>
					    	<tr>
						    	<td>Brackets</td>
						        <td>BlueJ</td>
						        <td>&nbsp;</td>
					    	</tr>
					    	<th colspan="3"><h4><b>Related Coursework</b></h4></th>
					    	<tr>
								<td>Fundamentals of Programming I &amp; II</td>
								<td>Database Systems</td>
								<td>Web Development I &amp; II</td>
							</tr>
							<tr>
								<td>Application Development</td>
								<td>Information Systems Management</td>
								<td>Human Computer Interface</td>
							</tr>
							<tr>
								<td>IT Infrastructure</td>
								<td>Global IS Strategy</td>
								<td>Systems Analysis and Design</td>
							</tr>
							<tr>
								<td>Principles of Information Security</td>
								<td>Global IS Project Management</td>
								<td>&nbsp;</td>
							</tr>
            </tbody>
  						</table>


	  					<table class="table">
                <tbody>
	  						<th colspan="2">
	  							<thead><h4><b>Education</b></h4></thead>
	  						</th>
	  						<tr>
	  							<td>
										<b>Kennesaw State University</b><br />
										May 2017
									</td>
									<td>
										BBA in Information Systems, Minor in Computer Science<br />
										<i>Current Cumulative GPA: 3.66</i>
									</td>
	  						</tr>
              </tbody>
	  					</table>

	  					<table class="table">
	  						<th colspan="2"><h4><b>Expirence</b></h4></th>
                <tbody>

	  						<tr>
								<td>
									<b>November 2013 – Current</b>
								</td>
								<td>
									<b>Custom Framer/Artist Assistant</b>, <b>J&amp;M Frames</b>, <i>Chamblee, GA</i> <br />
									Created wholesale quantities of customized art frames and custom sized canvases.
								</td>
							</tr>
							<tr>
								<td>
									<b>May 2015 – October 2015</b>
								</td>
								<td>
									<b>Assistant General Manager</b>, <b>Figo Pasta</b>, <i>Decatur, GA</i> <br />
									Assist in the hiring, training and general management of an Italian restaurant.
								</td>
							</tr>
							<tr>
								<td>
									<b>May 2014 – December 2014</b>
								</td>
								<td>
									<b>Assistant General Manager</b>, <b>La Pietra Cucina</b>, <i>Atlanta, GA</i> <br />
									Created wholesale quantities of customized art frames and custom sized canvases.
								</td>
							</tr>
							<tr>
								<td>
									<b>August 2010 – March 2012</b>
								</td>
								<td>
									<b>English Teacher</b>, <b>Siyoun Kindergarten/Private Lessons</b>, <i>Greater Seoul Area, South Korea</i> <br />
									Taught over 400 different students at four Kindergartens in the course of a week for the course of a year. Conducted private lessons over the Greater Seoul area for the course of a year.
								</td>
							</tr>
            </tbody>

	  					</table>
 </div>
